@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* Add application styles & imports to this file! */
// @forward '@nebular/theme/styles/theming';
// @use '@nebular/theme/styles/theming' as *;
// @use '@nebular/theme/styles/themes/default';


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
}

input.text {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
